<%- include('./partials/header.ejs') %>


<main>
    <h1>Welcome to Gameboy Goblins!</h1>
    <p>Your ultimate destination for all things retro gaming. Whether you're looking to buy, sell, or just explore classic Nintendo Gameboy games, you've come to the right place.</p>
    <a href="/items" class="button-link">Browse</a>
</main>

<%- include('./partials/footer.ejs') %>
